@page "/Registro/crear"
@inject RegistroServices registroServices
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Crear Registro</PageTitle>

<div class="container">
    <EditForm Model="huacal" OnValidSubmit="GuardarAporte">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h4 class="card-title">Crear Registro</h4>
            </div>

            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label"><strong>Nombre Cliente</strong></label>
                    <InputText class="form-control" @bind-Value="huacal.NombreCliente" />
                    <ValidationMessage For="@(() => huacal.NombreCliente)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="huacal.fecha" />
                    <ValidationMessage For="@(() => huacal.fecha)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Precio</strong></label>
                    <InputNumber class="form-control" @bind-Value="huacal.precio" @oninput="CalcularImporte" />
                    <ValidationMessage For="@(() => huacal.precio)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Cantidad</strong></label>
                    <InputNumber class="form-control" @bind-Value="huacal.cantidad" @oninput="CalcularImporte" />
                    <ValidationMessage For="@(() => huacal.cantidad)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Importe</strong></label>
                    <InputNumber class="form-control" @bind-Value="huacal.Importe" readonly />
                </div>
            </div>

            <div class="card-footer d-flex justify-content-between bg-light">
                <a href="/Registro/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Crear</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    public ControlHuacal huacal = new();

    protected override void OnInitialized()
    {
        huacal.fecha = DateTime.Now;
    }

    private void CalcularImporte(ChangeEventArgs e)
    {
        huacal.Importe = huacal.cantidad * huacal.precio;
    }

    public async Task GuardarAporte()
    {
        huacal.Importe = huacal.cantidad * huacal.precio;
        if (await registroServices.Insertar(huacal))
        {
            navigation.NavigateTo("/Registro/Index");
        }
    }
}
